body {
    background-color: #424242;
}

nav {
    background-color: #48CFCB;
    color: #F0F0F0;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #48CFCB;
    color: #F0F0F0;
}

tbody {
    background-color: #F0F0F0;
}

.avg-text {
    color: #F0F0F0;
}

.series-name {
    font-weight: bold;
}

.btn {
    background-color: #48CFCB;
    color: #F0F0F0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 20px;
}

.card {
    background-color: #F0F0F0;
}